<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td class="cart_product">
              <a href=""><img width="80px" height="80px" src="{{item.product.PathImageCheckOut}}" alt=""></a>
            </td>
            <td class="cart_description">
              <h4><a href="">{{item.product.ProdcutDescription}}</a></h4>
              <p>{{item.product.ProductDescription}}</p>
            </td>
            <td class="cart_price">
              <p>{{item.product.PriceTtc}} €</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" (click)="addProductToCart(item.product, 1)"> + </a>
                <input class="cart_quantity_input" [(ngModel)]="item.quantity"  autocomplete="off" size="2">         
                <a  (click)="removeProductFromCart(item.product, 1)" class="cart_quantity_down"> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{item.totalCost}} €</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section> <!--/#cart_items-->
<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>What would you like to do next?</h3>
      <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chose_area">
          <ul class="user_option">
            <li *ngFor="let option of deliveryOptions | async">
              <table>
                <tr>
                  <td>
                      <input type="radio"
                      name="delivery_option"
                      id="{{option.name}}"
                      [checked]="option.id === (cart | async).deliveryOptionId"
                      (click)="setDeliveryOption(option)">
                  </td>
                  <td> <label  for="{{option.name}} " (click)="setDeliveryOption(option)">{{option.name}}</label><label>{{option.price}} €</label></td>
                </tr>
              </table>                                    
            </li>
          </ul>
          <a class="btn btn-default check_out" routerLink="/">Continue</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="total_area">
          <ul>
            <li>Total <span>{{(cart | async).grossTotal }} €</span></li>
          </ul>
            <a class="btn btn-default update" href="">Update</a>
            <a class="btn btn-default check_out" href="">Check Out</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/#do_action-->